
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

.header {
    background-color: #b906a2;
    color: #ffffff;
    padding: 20px;
}

.header-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header-nav li {
    margin-bottom: 1em;
}

.header-nav a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header-content {
        grid-template-columns: 1fr auto;
    }

    .header-nav ul {
        flex-direction: row;
    }

    .header-nav li {
        margin-right: 1.5em;
        margin-bottom: 0;
    }
}

.main {
    padding: 20px;
    text-align: center;
}

.main h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.main p {
    margin-bottom: 20px;
}
